

   /* new */
   .home-page {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; /* To position the modal overlay correctly */
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav li {
    margin-left: 20px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    cursor: pointer; /* Indicate that the links are interactive */
  }

 
  
  .main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9S23CHlMA6eDQhozchbhzpBUG0acjN8_ZzQ&s');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Use cover for better responsiveness */
  }
  
  .hero-section {
    text-align: center;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background for better readability */
    border-radius: 10px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0.5, 0, 0, 0.1); 

   
  }
  
  .hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .hero-section p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
  }
  
  .get-started-button {
    background-color: #6cca6f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button:hover {
    background-color: #45a049;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Modal Styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative; /* To position the close button */
    width: 80%; /* Adjust as needed */
    max-width: 500px; /* Maximum width */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #777;
  }
  
  .modal-content h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
  }
  
  .modal-content p {
    color: #555;
    line-height: 1.6;
  }